
.estates-grid {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.estate {
    height: fit-content;
    background: var(--main-block-background-color);
    width: fit-content;
    box-sizing: border-box;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: var(--main-shadow);
}

.estates-grid .estate {
    width: calc(25% - 20px);
}

.estate-title {
    padding-left: 5px;
    height: 40px;
    padding-bottom: 5px;
    color: var(--main-white);
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid var(--additionally-color);
}

.estate-button-container {
    border-top: 1px solid var(--main-text-color);
    margin-top: auto;
    text-align: right;
}

button {
    font-weight: bold;
    margin-top: 10px;
    font-size: 15px;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 10px;
    background-color: var(--additionally-color);
    color: var(--main-button-color);
    transition: 0.35s ease-out;
}

button:hover, button:focus {
    background-color: var(--additionally-color);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--additionally-color);
}


.estate-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.estate-attribute-row {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    width: 48%;
}

.estate-bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.estate-attributes {
    font-size: calc(0.8em);
    color: var(--main-text-hover-color);
}

.estate-value {
    font-size: calc(0.8em);
    color: var(--main-text-color);
}


.estate:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.estates-grid-single {
    width: calc(25% - 20px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

@media (max-width: 1850px) {
    .estates-grid .estate {
        width: calc(33.33% - 15px);
    }

    .estates-grid-single {
        width: calc(33.33% - 15px);
    }

}

@media (max-width: 1430px) {
    .estates-grid .estate {
        width: calc(50% - 15px);
    }

    .estates-grid-single {
        width: calc(50% - 15px);
    }
}

@media (max-width: 975px) {
    .estates-grid {
        padding: 10px 10px 10px 0;
    }

    .estates-grid-single {
        width: 100%;
    }

    .estates-grid .estate {
        width: 100%;
    }
}


.estates-grid::-webkit-scrollbar {
    width: 8px;
}

.estates-grid::-webkit-scrollbar-track, .estates-grid::-webkit-scrollbar-thumb {
    background-color: var(--main-block-background-color);
    border-radius: 8px;
}

.estates-grid::-webkit-scrollbar-thumb:hover {
    background-color: var(--additionally-color);
}

.estate a {
    text-decoration: none;
    color: inherit;
}


.estate-div {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--main-block-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.estate-div h2 {
    margin-top: 12px;
    text-align: center;
    padding-left: 5px;
    height: 40px;
    color: var(--main-white);
    font-weight: bold;
    overflow: hidden;
    border-bottom: 1px solid var(--additionally-color);
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.user-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(100% - 10px);
    box-sizing: border-box;
}

.item.half {
    flex: 1 1 calc(50% - 10px);
}

.item.third {
    flex: 1 1 calc(20%);
}

.user-box label {
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--main-text-color);
}

.user-box input, textarea {
    color: var(--main-text-hover-color);
    background: var(--main-block-background-color);
    padding: 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}
.user-box select, input, textarea {
    width: 100%;
}

.user-box textarea {
    height: 100px;
    resize: none;
}

.user-box select {
    background: var(--main-block-background-color);
    color: var(--main-text-hover-color);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    appearance: none;
}

.user-box select option {
    background-color: var(--main-background-color);
}

.user-box input:focus,
.user-box select:focus {
    color: var(--main-text-hover-color);
    background: var(--main-block-background-color);
    border-color: var(--main-text-hover-color);
    box-shadow: 0 0 4px var(--theme-color-boxShadow);
}



.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox-wrapper-4 .cbx:hover {
    background: var(--main-block-background-color);
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid var(--main-text-color);
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-wrapper-4 .inp-cbx {
    position: fixed;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: var(--additionally-color);
    border-color: var(--main-text-hover-color);
}

