.login {
    margin: 0 auto;
    background: var(--main-block-background-color);
    width: 435px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    -webkit-box-shadow: var(--main-shadow);
}

.login h2 {
    padding-bottom: 20px;
    color: var(--main-white);
    font-size: 19px;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login .user-box {
    position: relative;
    width: 235px;
    margin-top: 2%;
    margin-bottom: 6%;
}

.login .user-box input {
    width: 80%;
    font-size: 13px;
    color: var(--main-white);
    background-color: var(--main-block-background-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.login .user-box label {
    position: absolute;
    top: 10px;
    left: 15%;
    font-size: 13px;
    color: var(--main-text-color);
    pointer-events: none;
    transition: 0.3s;
}

.login .user-box input:focus ~ label,
.login .user-box input:not(:placeholder-shown) ~ label {

    top: -20px;
    left: 25px;
    color: var(--main-white);
    font-size: 12px;
}

.login button {
    font-weight: bold;
    margin-top: 3em;
    font-size: 15px;
    padding: 10px 20px;
    border-width: 0;
    border-radius: 10px;
    background-color: var(--additionally-color);
    color: var(--main-button-color);
    transition: 0.35s ease-out;
}

button:hover, button:focus {
    background-color: var(--additionally-color);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--additionally-color);
}

.login .realtor {
    background: #262525;
    color: #f0ead8;
}
