:root {
    --main-black: rgb(21, 21, 21);
    --main-background-color: #1C1C1E;
    --main-block-background-color: rgba(255, 255, 255, 0.07);
    --main-white: #fff;
    --main-text-color: rgba(255, 255, 255, 0.5);
    --main-text-hover-color: rgb(255, 255, 255);
    --additionally-color: rgba(219, 255, 235, 0.86);



    --not-set-color: rgb(255, 123, 123);


    --main-button-color: #505050;


    --theme-color-boxShadow: rgba(0, 0, 0, 0.2);

    --main-shadow: 5px 5px 10px var(--theme-color-boxShadow);

}

body {
    font-size: 18px;
    background: var(--main-black);
    margin: 0;
    font-family: 'Futura PT Demi', sans-serif;
    color: var(--not-set-color);
}

.main {
    margin: 2% auto;
    width: 85%;
    height: 85%;
    padding: 25px;
    background: var(--main-background-color);
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-box-shadow: var(--main-shadow);
}



table {
    width: 100%;
}
th, td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid var(--main-text-color);
}

th {
    color: var(--main-text-hover-color);
}

td {
    color: var(--main-text-color);
}